<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Cobrança</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/all.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker3.standalone.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header layout:include="Cabecalho"></header>
	<div class="container-fluid">
		<section layout:fragment="conteudo">
			<p>Conteúdo principal</p>
		</section>
	</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
<script th:src="@{/js/cobranca.js}"></script>
</body>
</html>