<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pesquisa de título]</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
	  	<a class="navbar-brand" href="#">
	  		<img alt="Algaworks" src="/images/logo-algaworks.png" />
	  	</a>	
	</nav>
	<br />
	<div class="container-fluid">
		<div class="card">
			<h5 class="card-header">Pesquisa de títulos</h5>
			<div class="card-body">
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr class="d-flex">
				      <th class="text-center col-1">#</th>
				      <th class="text-left col-4">Descrição</th>
				      <th class="text-center col-2">Data de vencimento</th>
				      <th class="text-right col-2">Valor</th>
				      <th class="text-center col-2">Status</th>
				      <th class="col-1"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td colspan="6">Nenhym título foi encontrado</td>
				    </tr>
				    
				  </tbody>
				</table>
			</div>
		</div>		
	</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>